</div>
        </div>
    </div>
        </section>

<br>
    <!--/.INTRO END-->
    <section id="footer-sec" >

            <div class="container">
           <div class="row  pad-bottom" >
                                  &copy;2018 José Manuel Matheus
               </div>
            </div>
    </section>
<!-- core jquery  -->
<script src="./libs/js/jquery/jquery-2.1.4.min.js"></script>
<!-- bootstrap scripts  -->
<script src="./libs/bs_tpl/plugins/bootstrap.js"></script>
<!-- eModal.js -->
<script src="./libs/bootstrap/emodal/dist/eModal.min.js"></script>
{$pie}
</body>
</html>