{include file="inicio_trabajador.html"}

<div class="menu_adm">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<div class="thumbnail">
					<a href="www_recibos.php">
					<img src="./imagenes/nomina.png" alt="Nómina">
					<div class="caption">
					<h3>Recibos de Nómina</h3>
					<!-- p>Creación de mómina para los empleados que trabajan en la empresa en un período.</p -->
					</div>
					</a>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<a href="www_constancia_trabajo.php">
			<img src="./imagenes/basededatos.png" alt="Base de Datos">
			<div class="caption">
			<h3>Constancia de trabajo</h3>
			<!-- p>Respaldo de la Base de datos del sistema Accede a la lista de respaldos, puede agregar o eliminar alguno.</p -->
			</div>
			</a>
			</div>
			</div>
			<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<a href="usuarios_cambiar_clavep.php">
			<img src="./imagenes/empleado01.png" alt="Empleados">
			<div class="caption">
			<h3>Cambiar clave</h3>
			<!-- p>Módulo para registrar los trabajadores de la empresa. Accede a la lista de empleados ya registrados.</p -->
			</div>
			</a>
			</div>
			</div>
			<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<a href="usuarios_lista.php">
			<img src="./imagenes/usuarios2.png" alt="Usuarios">
			<div class="caption">
			<h3>Usuarios</h3>
			<!-- p>Registra personas autorizadas para ingresar al sistema. Accede a la lista de usuarios ya registrados.</p -->
			</div>
			</a>
			</div>
			</div>
			<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<a href="departamentos_lista.php">
			<img src="./imagenes/departamentos.png" alt="Departamentos">
			<div class="caption">
			<h3>Departamentos</h3>
			<!-- p>Registra los lugares de trabajo dentro de la empresa.Accede a la lista de departamentos ya registrados, donde se puede agregar, modificar y eliminar.</p -->
			</div>
			</div>
			</div>
			<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<a href="cargos_lista.php">
			<img src="./imagenes/cargos1.png" alt="Cargos">
			<div class="caption">
			<h3>Cargos</h3>
			<!-- p>Registra los cargos de trabajo dentro de la empresa. Accede a la lista de cargos ya registrados, donde se puede agregar, modificar y eliminar.</p -->
			</div>
			</div>
			</div>
			<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<a href="reportes_lista.php">
			<img src="./imagenes/reporte.png" alt="Reportes">
			<div class="caption">
			<h3>Reporte</h3>
			<!-- p>Informes que organizan y exhiben la información contenida en la base de datos. Muestra los datos por medio de un diseño atractivo.</p -->
			</div>
			</div>
			</div>
		</div>
	</div>
</div>

{include file="final.html"}

